* {
  color: #fafafa;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
  background-color: #1a1a1a;
  height: 100vh;
}

nav {
  padding-top: auto;
  font-size: 1.5rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  font-size: 1.5rem;
}

.wordle-container {
  height: 90vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7rem;
  width: 50%;
  font-size: 2rem;
  border-bottom: 1px solid #e0e0e0;
}

.game-grid {
  width: 55vw;
  height: auto;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.game-grid div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-grid .cell {
  width: 5rem;
  height: 5rem;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.keyboard-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 32vw;
  margin-top: 10rem;
}

.keyboard-key {
  margin-right: 0.25rem;
  margin-top: 4rem;
  margin: 0.25rem;
}

.keyboard-container button {
  width: 4rem;
  height: 5rem;
  border-radius: 0.25rem;
  background-color: #fafafa;
  color: #333;
  font-size: 1.75rem;
  font-weight: bold;
  cursor: pointer;
}

.keyboard-container button:nth-child(27) {
  width: 9rem;
}

.keyboard-container button:nth-child(28) {
  width: 9rem;
}

.show-message {
  background-color: #fafafa;
  color: #333;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.cell.turn {
  animation: 0.5s linear turning;
}

@keyframes turning {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

.correct-position {
  background-color: #6aaa64 !important;
  color: #fff !important;
  border: none !important;
}
.wrong-position {
  background-color: #c9b458 !important;
  color: #fff !important;
  border: none !important;
}
.wrong-letter {
  background-color: gray !important;
  color: #fff !important;
  border: none !important;
}

@media screen and (max-width: 1000px) {
  .nav {
    padding-bottom: 2rem;
    display: flex;
    align-items: left;
    flex-direction: column;
  }

  .game-grid {
    width: 90vw;
    height: auto;
  }
  .keyboard-container {
    width: 90vw;
  }
}

@media screen and (max-width: 400px) {
  .nav {
    padding-bottom: 2rem;
    display: flex;
    align-items: left;
    flex-direction: column;
  }
  .wordle-container {
    height: 70vh;
    position: relative;
  }

  .title-container {
    width: 100%;
  }
  .game-grid {
    width: 90vw;
    height: auto;
    margin-top: 0;
  }
  .keyboard-container {
    width: 90vw;
  }
  .game-grid .cell {
    width: 2rem;
    height: 2rem;
  }
  .keyboard-container {
    margin: 3rem;
  }
  .keyboard-container button {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
  }
}
