@media screen and (max-width: 1000px) {
  .nav {
    padding-bottom: 2rem;
    display: flex;
    align-items: left;
    flex-direction: column;
  }

  .title-container__page1 {
    display: column;
    align-items: center;
    width: 90vw !important;
  }

  .username-container {
    display: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  .game-grid {
    width: 90vw;
    height: auto;
  }
  .keyboard-container {
    width: 90vw;
  }
}

@media screen and (max-width: 600px) {
  .nav {
    padding-bottom: 2rem;
    display: flex;
    align-items: left;
    flex-direction: column;
  }

  .title-container__page1 {
    display: column;
    align-items: center;
    width: 90vw !important;
    font-size: 2.5rem !important;
  }

  .wordle-container {
    position: relative;
  }

  .title-container {
    width: 100%;
  }
  .game-grid {
    margin-top: 0;
  }
  .keyboard-container {
    width: 90vw;
  }
  .game-grid .cell {
    width: 2rem;
    height: 2rem;
  }
  .keyboard-container {
    margin: 3rem;
    width: 90vw;
    height: auto;
  }
  .keyboard-container button {
    font-size: 1rem;
  }
}
