@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

* {
  color: #fafafa;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
  background-color: #1a1a1a;
}

.wordle-container {
  height: 70vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-size: 1rem;
  border-bottom: 1px solid #e0e0e0;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 1rem;
  width: 55vw;
  height: 50vh;
}

.keyboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-size: 1rem;
}
